[Desktop Entry]
Type=Application
Version=1.0
Name=Percolator
GenericName=Shotgun proteomics post-processor
TryExec=percolator
Exec=percolator
Comment=Percolator - Shotgun proteomics post-processor
Icon=percolator
Terminal=true
Categories=Accesories;Science;
Name[en_US]=percolator.desktop
