name: Build and release

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: preinstall
      run: sudo apt-get install libxml2-utils
    - name: create_dirs
      run: cd .. && mkdir -p my_rel my_build
    - name: configure_and_make
      run: cd .. && percolator/admin/builders/ubuntu64_build.sh -s . -r my_rel -b my_build
    - name: test
      run: cd ../my_build/percolator && sudo make install && make test ARGS="-V"
    - name: Upload packages
      uses: actions/upload-artifact@v1
      with:
        name: ubuntu-packages
        path: ../my_rel

  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd
    steps:
    - uses: actions/checkout@v2
    - name: create_dirs
      run: CD .. || MKDIR my_rel my_build
    - name: configure_and_make
      run: |
        CD ..
        SET base_dir=%cd%
        ECHO %base_dir%
        CALL percolator\admin\builders\actionsw64_build.bat -s %base_dir% -r %base_dir%\my_rel -b %base_dir%\my_build
        EXIT /B
    - name: Upload packages
      uses: actions/upload-artifact@v1
      with:
        name: windows-packages
        path: ..\my_rel
