name: Triggered Build

on: workflow_dispatch

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: preinstall
      run: sudo apt-get update && sudo apt-get install -y -o Acquire::Retries=3 libxml2-utils
    - name: create_dirs
      run: mkdir -p ../my_rel ../my_build
    - name: configure_and_make
      run: ./admin/builders/ubuntu64_build.sh -s `pwd`/.. -r `pwd`/../my_rel -b `pwd`/../my_build
    - name: test
      run: cd ../my_build/percolator && sudo make install && make test ARGS="-V"
    - name: zip raw binary
      run: zip -j ../my_rel/percolator-noxml.zip ../my_build/percolator-noxml/src/percolator
    - name: Upload packages
      uses: actions/upload-artifact@v1
      with:
        name: ubuntu-packages
        path: ../my_rel

  build-centos:
    runs-on: ubuntu-latest
    container: 'lukall/centos_runner:latest'
    steps:
    - uses: actions/checkout@v2
    - name: create_dirs
      run: mkdir -p ../my_rel ../my_build
    - name: configure_and_make
      run: ./admin/builders/centos64_build.sh -s `pwd`/.. -r `pwd`/../my_rel -b `pwd`/../my_build
    - name: test
      run: cd ../my_build/percolator && make install && make test ARGS="-V"
    - name: zip raw binary
      run: zip -j ../my_rel/percolator-noxml.zip ../my_build/percolator-noxml/src/percolator
    - name: Upload packages
      uses: actions/upload-artifact@v1
      with:
        name: centos-packages
        path: ../my_rel

  build-osx:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: create_dirs
      run: mkdir -p ../my_rel ../my_build
    - name: configure_and_make
      run: admin/builders/osx64_build.sh  -s `pwd`/.. -r `pwd`/../my_rel -b `pwd`/../my_build
    - name: test
      run: cd ../my_build/percolator && sudo make install && make test ARGS="-V"
    - name: zip raw binary
      run: zip ../my_rel/percolator-noxml.zip ../my_build/percolator-noxml/src/percolator
    - name: Upload packages
      uses: actions/upload-artifact@v1
      with:
        name: osx-packages
        path: ../my_rel


  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd
    steps:
    - uses: actions/checkout@v2
    - name: create_dirs
      run: CD .. || MKDIR my_rel my_build
    - name: configure_and_make
      run: |
        CD ..
        SET base_dir=%cd%
        ECHO %base_dir%
        CALL percolator\admin\builders\nativew64_build.bat -s %base_dir% -r %base_dir%\my_rel -b %base_dir%\my_build
    - name: zip raw binary
      run: TAR -czvf ..\my_rel\percolator-noxml.tgz ..\my_build\percolator-noxml\src\Release\percolator.exe
    - name: Upload packages
      uses: actions/upload-artifact@v3
      with:
        name: windows-packages
        path: ..\my_rel
    - name: Archive Boost Bootstrap Log
      uses: actions/upload-artifact@v3
      with:
        name: boost-build-log
        path: my_build\tools\boost_1_73_0\bootstrap.log
